{% load static %}
<!-- Begin Footer -->
    <footer class="page-footer font-small pt-1 fixed-bottom" style="border: 1px solid black;" >
        <!-- Grid row -->
        <div class="row" style="border: 1px solid black;" >
        <!-- Grid column -->
            <div class="row col-md-4 justify-content-center" style="border: 1px solid black;" >
                <div class="col-12 ">
                    <img src=" {% static 'assets/ept_logo.png' %} " alt="ept_image" width=150>
                </div>
                <!-- Content -->
                <div class= "text">
                © 2021 Copyright: ept.sn
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4" style="border: 1px solid black;" >
                <!-- Links -->
                <h5 class="text">Contacts</h5>
                <ul class="list-unstyled">
                    <li>
                        Mail : ept@ept.sn
                    </li>
                    <li>
                        Boite Postale : BPA10, Thies, Sénégal
                    </li>
                    <li>
                        Téléphone : 00221 33 951 15 48
                    </li>
                    <li>
                        Fax : 00221 33 951 15 48
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4" style="border: 1px solid black;" >
                <h5 class="text">Social</h5>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </footer>
    <!-- End Footer -->
