{% load static %}
<!-- Begin Footer -->
    <footer class="page-footer font-small pt-1 fixed-bottom bg-warning">
        <!-- Grid row -->
        <div class="row" >
        <!-- Grid column -->
            <div class="container col-md-auto justify-content-center ml-auto" >
                <div class="col-12 row justify-content-center">
                    <img src=" {% static 'assets/ept_logo.svg' %} " alt="ept_image" width=150>
                </div>
                <!-- Content -->
                <div class= "text-white">
                2021 Copyright ©| Ecole Polytechnique de Thies
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="container col-md-auto text-white border-right border-left" >
                <!-- Links -->
                <h5 class="text-white">Contacts</h5>
                <ul class="list-unstyled">
                    <li>
                        Mail : ept@ept.sn
                    </li>
                    <li>
                        Boite Postale : BPA10, Thies, Sénégal
                    </li>
                    <li>
                        Téléphone : 00221 33 951 15 48
                    </li>
                    <li>
                        Fax : 00221 33 951 15 48
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class=" container col-md-auto mr-auto">
                <h5 class=" text-white col-12">Social</h5>
                    <img src=" {% static 'assets/icon_insta.svg' %} ">
                    <img src=" {% static 'assets/icon_facebook.svg' %} ">
                    <img src=" {% static 'assets/icon_twitter.svg' %} ">
                    <img src=" {% static 'assets/icon_youtube.svg' %} ">
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </footer>
    <!-- End Footer -->
